@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
body {
  font-family: "Abril Fatface", cursive;
  background-color: #c5d8ab;
  margin: 0 auto;
  height: 100% !important;
  width: 100% !important;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

.first-section {
  position: relative;
}

.first-section .bg-attribute {
  position: absolute;
  top: 3em;
  z-index: -4;
}

.first-section .bg-attribute img {
  width: 295px;
  height: auto;
}

.first-section .bg-attribute-after {
  position: absolute;
  /* float: right; */
  right: 0;
  right: 4%;
  top: 40%;
  z-index: -4;
}

.first-section .container .first-line {
  margin-left: auto;
  margin-right: auto;
}

.first-section .container .first-line .normal-line {
  border-bottom: 10px solid #424a63;
}

.first-section .container .first-line .dashed-line {
  margin-top: 20px;
  border-bottom: 20px dashed #e56848;
}

.first-section .container .hero-content {
  padding-top: 9em;
  padding-bottom: 11em;
}

.first-section .container .hero-content .epc-logo img {
  display: block;
  width: 600px;
  height: auto;
  margin: auto;
}

.first-section .container .hero-content .epc-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 2em;
  color: #424a63;
}

.section-two {
  position: relative;
  margin-top: 3em;
}

.section-two .bg-attribute-1 {
  position: absolute;
  margin-top: 1em;
}

.section-two .bg-attribute-2 {
  position: absolute;
  left: 50%;
  z-index: -5;
  top: 0%;
}

.section-two .bg-attribute-2 img {
  max-width: 75%;
}

.section-two .section-title {
  color: #424a63;
}

.section-two .content {
  padding-top: 3em;
}

.section-two .content .content-date {
  padding-left: 3em;
}

.section-two .content .name ul li {
  font-family: "Zilla Slab", serif;
  color: #e56848;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
  margin-bottom: 10px;
}

.section-two .content .date ul {
  border-left: 10px solid #e56848;
}

.section-two .content .date ul li {
  font-family: "Zilla Slab", serif;
  color: #424a63;
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  margin-bottom: 10px;
  line-height: 2rem;
}

.section-two .content .date ul li a {
  color: #e56848;
}

.bg-attribute-sc3 {
  position: relative;
  margin-top: 2em;
}

.bg-attribute-sc3 img {
  position: inherit;
  right: 0;
  width: 100%;
  height: auto;
}

.section-three {
  background-color: #ffebb0;
}

.section-three .content-list ul li {
  list-style: none;
  font-family: 'Zilla Slab';
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

footer.footer-blue {
  background-color: #424a63;
}

footer.footer-blue .footer-logo {
  width: 355px;
  max-width: 100%;
}

footer.footer-blue .footer-desc {
  color: #f2f2f2;
}

footer.footer-blue .footer-desc .footer-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 2rem;
}

footer.footer-blue .footer-desc .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.5px;
  color: inherit;
  text-decoration: none;
}

footer.footer-blue .footer-desc .footer-content p {
  font-size: 1.75rem;
}

footer.footer-blue .footer-desc .footer-content span {
  font-size: 1.25rem;
}

footer.footer-blue .footer-desc .footer-content .footer-icon {
  padding-right: 1rem;
}

footer.footer-blue .copyright {
  font-family: "Zilla Slab", serif;
  color: #fde7b6;
  font-size: 1rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  .first-section {
    position: relative;
  }
  .first-section .bg-attribute {
    position: absolute;
    top: 3em;
    z-index: -4;
  }
  .first-section .bg-attribute img {
    width: 8rem;
    height: auto;
  }
  .first-section .bg-attribute-after {
    position: absolute;
    /* float: right; */
    right: 0;
    right: 4%;
    top: 47%;
    z-index: -4;
  }
  .first-section .bg-attribute-after img {
    max-width: 6rem;
  }
  .first-section .container .first-line {
    margin-left: auto;
    margin-right: auto;
  }
  .first-section .container .first-line .normal-line {
    border-bottom: 7px solid #424a63;
  }
  .first-section .container .first-line .dashed-line {
    margin-top: 20px;
    border-bottom: 13px dashed #e56848;
  }
  .first-section .container .hero-content {
    padding-top: 9em;
    padding-bottom: 11em;
  }
  .first-section .container .hero-content .epc-logo img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;
  }
  .first-section .container .hero-content .epc-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 2em;
    color: #424a63;
  }
  .section-two {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3em;
  }
  .section-two .bg-attribute-1 {
    margin-top: 0.6em;
    left: -1.7rem;
  }
  .section-two .bg-attribute-1 img {
    max-width: 2.3rem;
  }
  .section-two .container .bg-attribute-2 {
    left: 78%;
    top: 13%;
  }
  .section-two .container .bg-attribute-2 img {
    max-width: 12rem;
  }
}
/*# sourceMappingURL=style.css.map */